<!-- FILEPATH: /C:/Users/EPSI/Downloads/vue_simple.html -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <meta charset="utf-8">
    <title>Vue simple</title>
  </head>
  <body>
    <style>
            #map, #main {
      height: 100vh;
      width: 100%;
    }

    .hidden {
      display: none;
    }
  
    </style>
    <div id="main">
        <div class="container">
        <div>
        <h1>Parking Nantes</h1>
        <form>
            <div class="input-group mb-3" style="width: 50%; margin: auto; margin-bottom: 20px; margin-top: 20px; ">
                <input type="text" class="form-control form-controle-sm" placeholder="Nom du parking" v-model="search" @input="fetchData()">
            </div>

        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Disponibilité</th>
                    <th scope="col">Google map</th>
                </tr>
                <tr v-for="record in parking">
                    <td>{{record.grp_nom}}</td>
                    <td :class="record.grp_disponible > 50 ? 'text-bg-success' : record.grp_disponible > 10 ? 'text-bg-warning' : 'text-bg-danger'">{{record.grp_disponible}}</td>
                    <td><button type="button" class="btn btn-primary" @click="getUrlMap(record.location, record.grp_nom)"  data-bs-toggle="modal" data-bs-target="#modalMap">Voir</button></td>
                </tr>
            </thead>
            </table>
        </div>
    </div>     

    <div class="modal fade" id="modalMap" tabindex="-1" aria-labelledby="modalMapLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalMapLabel">{{arret}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe
                    width="100%"
                    height="450"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    :src="src">
                    </iframe>
                </div>
            </div>
        </div>
    </div>      
</div>
    
    <script>
			Vue.createApp({
                data() {
                    return {
                        parking: [],
                        src: "",
                        arret: "",
                        search: "",
                        apiURL: "https://data.nantesmetropole.fr/api/explore/v2.1/catalog/datasets/244400404_parkings-publics-nantes-disponibilites/records?limit=-1",
                    };
                },
                created: function () {
                    this.fetchData();
                },
                methods: {
                    fetchData: async function() {
                        console.log("fetchData");
                        try {
                            const response = await axios.get(this.apiURL);
                            console.log(response.data);
                            let result = response.data.results.filter(element => {
                                return element.grp_nom.toLowerCase().includes(this.search.toLowerCase());
                            });
                            console.log(result);
                            this.parking = result;        
                        }
                        catch (error) {
                            console.log("appel api en erreur")
                            console.log(error);
                        }
                    },
                    getUrlMap: function(location, name) {
                        this.src = `https://maps.google.com/maps?q=${location.lat},${location.lon}&hl=fr&z=14&output=embed`;
                        this.arret = name;
                    }
                }
            }).mount('#main');
    </script>
  </body>
</html>
